# project
*
!*/

# general
!/LICENSE
!/README.md

# git
!/.gitignore

# github
!/.github/**/*

# editor config
!/.editorconfig

# node
!/package.json
!/package-lock.json
!/jsconfig.json
!/next.config.js

# sources, resources, documentation & tests
!/src/**/*
!/public/**/*
