# project
*
!*/

# general
!/LICENSE
!/README.md

# git
!/.gitignore

# github
!/.github/**/*

# editor config
!/.editorconfig

# node
!/package.json
!/package-lock.json
!/tsconfig.json
!/next.config.js
!/next-env.d.ts

# sources, resources, documentation & tests
!/src/**/*
!/public/**/*
